In [6]:
import sqlite3

conn = sqlite3.connect("nominations.db")

q = "pragma table_info(nominations);"
schema = conn.execute(q).fetchall()

q = "select * from nominations limit 10;"
first_then = conn.execute(q).fetchall()

for i,j in zip(schema,first_then):
    print(i,j)

query_table = "create table ceremoniesnew (id integer primary key, Year integer, Host Text);"
conn.execute(query_table)

years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

query_insert = "insert into ceremoniesnew (Year,Host) values (?,?);"

conn.executemany(query_insert,years_hosts)

print(conn.execute("select * from ceremoniesnew limit 10;").fetchall())

print(conn.execute("pragma table_info(ceremoniesnew);").fetchall())

conn.execute("pragma foreign_keys = ON;")

(0, 'Year', 'INTEGER', 0, None, 0) (2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(1, 'Category', 'TEXT', 0, None, 0) (2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2, 'Nominee', 'TEXT', 0, None, 0) (2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(3, 'Won', 'INTEGER', 0, None, 0) (2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(4, 'Movie', 'TEXT', 0, None, 0) (2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(5, 'Character', 'TEXT', 0, None, 0) (2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
[(1, 2010, 'Steve Martin'), (2, 2009, 'Hugh Jackman'), (3, 2008, 'Jon Stewart'), (4, 2007, 'Ellen DeGeneres'), (5, 2006, 'Jon Stewart'), (6, 2005, 'Chris Rock'), (7, 2004, 'Billy Crystal'), (8, 2003, 'Steve Martin'), (9, 2002, 'Whoopi Goldberg'), (10, 2001, 'Steve Martin')]
[(0, 'id', 'integer', 0, None, 1), (1, 'Year', 'integer', 0, None, 0), (2, 'Host', 'Text', 0, None, 0)]

OperationalError: table nominations_two already exists

In [13]:
q = '''create table nominations_three (
id integer primary key, 
category text,
nominee text, 
movie text, 
character text, 
won integer, 
ceremony_id integer,
foreign key(ceremony_id) references ceremoniesnew(id)
);'''
conn.execute(q)

In [14]:
q = '''
select nominations.category, nominations.nominee, nominations.movie,
nominations.won, nominations.character, ceremonies.id
from nominations
inner join ceremonies on 
nominations.year == ceremonies.year
;'''
joined_nominations = conn.execute(q)

In [15]:
q = '''
insert into nominations_three(category, nominee, movie, won, character, ceremony_id)
values (?,?,?,?,?,?)
;'''
conn.executemany(q, joined_nominations)

OperationalError: near "nominations": syntax error

In [18]:
print(conn.execute("pragma table_info(nominations_three);").fetchall())

[(0, 'id', 'integer', 0, None, 1), (1, 'category', 'text', 0, None, 0), (2, 'nominee', 'text', 0, None, 0), (3, 'movie', 'text', 0, None, 0), (4, 'character', 'text', 0, None, 0), (5, 'won', 'integer', 0, None, 0), (6, 'ceremony_id', 'integer', 0, None, 0)]

In [22]:
conn.execute("drop table nominations;")
conn.execute("alter table nominations_two rename to nominations;")

In [ ]:
q = conn.execute("create table movies(id integer primary key, movie text)")